<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/head.ejs') %>
    <title>Document</title>
</head>
<body class="bg-yellow-100 h-screen flex justify-center items-center">
    <div class="text-center font-mono font-bold text-black text-4xl">
        <%- include('./partials/top.ejs') %>
        <div class="text-xl">
            <%- include('./partials/bottom.ejs') %>
        </div>
    </div>
</body>
</html>