.tp {
    position: relative;
}

.tp::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.tp::before {
    background: rgb(254 249 195);
    animation: typerwriter 4s steps(32) ease forwards;
}

@keyframes typewriter {
    to {
        left: 100%;
    }
}

.sub {

}